<div class="vertical-center-box" data-bind="with: data">
    <div class="horizontal-center-box" style="padding: 5px;">
        <div data-bind="with: properties">
            <div class="alternating-row-directions" data-bind="foreach: periods || []">
                <div class="h-fill-box width-100" style="margin-bottom: 20px">
                    <div class="flex-none">
                        <div class="vertical-center-box">
                            <div>
                                <img src="about:blank" data-bind="attr: { src: icon }" />
                            </div>
                        </div>
                    </div>
                    <div class="flex-none">&nbsp;</div>
                    <div class="flex-auto">
                        <div class="panel panel-primary no-margin">
                            <div class="panel-heading font-size-125">
                                <b><span data-bind="text: name"></span></b>
                                <div class="pull-right">
                                    <span data-bind="text: temperature"></span>
                                    &deg;<span data-bind="text: temperatureUnit"></span>
                                    (<span data-bind="text: temperatureAlt"></span>
                                    &deg;<span data-bind="text: temperatureUnitAlt"></span>)
                                </div>
                            </div>
                            <div class="panel-body">
                                <span data-bind="text: detailedForecast"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
