<div class="vertical-center-box" data-bind="with: data">
    <div class="horizontal-center-box">
        <div class="row">
            <div class="col-sm-6" data-bind="with: fromSolar">
                <h2>Lunar Events</h2>
                <table class="table table-skinny" data-bind="foreach: orbs.allmoondata">
                    <tbody data-bind="foreach: value">
                        <tr>
                            <th>
                                <span data-bind="text: $parents[3].getPhenInfoByAbbr(phen).meaning"></span>
                            </th>
                            <td>
                                <span data-bind="text: time"></span>
                            </td>
                            <td>
                                <span data-bind="text: $parent.prefix"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <h2>Next Phases</h2>
                <table class="table table-skinny">
                    <thead>
                        <tr>
                            <th>Phase</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: phasedata">
                        <tr>
                            <td class="text-no-wrap"><span data-bind="text: phase"></span></td>
                            <td class="text-no-wrap"><span data-bind="text: date"></span></td>
                            <td class="text-no-wrap"><span data-bind="text: time"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
