<div data-bind="with: data">
    <div class="row-fluid">
        <div class="col-sm-6">
            <h2>Time</h2>
            <span data-bind="text: $root.nowFormatted"></span>
        </div>
        <div class="col-sm-6">
            <h2>Daily</h2>
            <table class="table table-skinny" data-bind="foreach: sundata">
                <tr>
                    <th>
                        <span data-bind="text: $parents[1].decodePhenAbbr(phen)"></span>
                    </th>
                    <td>
                        <span data-bind="text: time"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
