<div data-bind="with: data">
    <div class="row">
        <div class="col-xs-12">
            <h2>Solar Events</h2>
            <table class="table table-skinny" data-bind="foreach: sundata">
                <tr>
                    <th>
                        <span data-bind="text: $parents[1].decodePhenAbbr(phen)"></span>
                    </th>
                    <td>
                        <span data-bind="text: time"></span>
                    </td>
                    <td>
                        <span data-bind="text: $parent.prefix"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
