<div class="vertical-align-box text-info bg-info">
    <div class="text-center" style="line-height: 1">
        <div style="font-size: 20vh">
            <span data-bind="text: $root.now().format('HH:mm')"></span>
            <span class="text-small-caps">
                <span data-bind="text: $root.now().format('a')"></span>
            </span>
        </div>
        <div style="font-size: 10vh">
            <span data-bind="text: $root.now().format('ddd MMM DD YYYY')"></span>
        </div>
    </div>
</div>
