<div class="vertical-center-box text-info bg-info">
    <div class="text-center" style="line-height: 1">
        <div style="font-size: calc(15vh + 8vw)">
            <span data-bind="text: $root.now().format('h:mm')"></span>
            <span class="text-small-caps">
                <span data-bind="text: $root.now().format('a')"></span>
            </span>
            <div style="font-size: 50%">
                <span data-bind="text: $root.now().format('ddd MMM DD YYYY')"></span>
            </div>
        </div>
    </div>
</div>
