/* Scroll Flex-Box */
html {
    height: 100%;
}

body {
    height: calc(100% - 60px);
    display: flex;
}

.v-fill {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow-y: auto;
}


/* Miscellaneous */

.nav {
    margin: 10px 0;
}

.nav-tabs > li > a {
    border-radius: 10px 10px 0 0;
}

.nav > li:not(.active) > a {
    margin-top: 5px;
}
.nav > li.active > a {
    padding-bottom: 15px;
}

.table.table-skinny {
    width: auto !important;
}

.template-wrapper {
    border: 2px inset gray;
}
