/* Scroll Flex-Box */
html {
    height: 100%;
}

html * {
    cursor: none;
}

body {
    height: 100%;
    display: flex;
}

.v-fill-box,
.v-fill-auto-box {
    display: inline-flex;
    flex-direction: column;
    overflow-y: auto;
}

.h-fill-box,
.h-fill-auto-box {
    display: inline-flex;
    flex-direction: row;
    overflow-x: auto;
}

.flex-auto,
.v-fill-auto-box,
.h-fill-auto-box {
    flex: auto;
}

.flex-none {
    flex: none;
}

.flex-auto,
.flex-none {
    display: inline-block;
}

.alternating-row-directions > :nth-child(even) {
    flex-direction: row-reverse;
}


/* Overrides */
.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

/* Nav Bar */
.nav {
    margin: 10px 0 0 0;
    border-bottom: none;
}

.nav-tabs > li {
    margin-bottom: 0;
    margin-right: 4px;
    border-radius: 10px 10px 0 0;
}

.nav-tabs > li.active {
    height: calc(100% + 5px);
    margin-top: -5px;
}

.nav-tabs > li > button,
.nav-tabs > li > button:hover,
.nav-tabs > li.active > button,
.nav-tabs > li.active > button:hover,
.nav-tabs > li.active > button:focus {
    padding: 5px 13px;
    border: none;
    background-color: transparent;
}

/* Status Bar */
.status-bar {
    position: relative;
    padding: 5px;
    border: solid black;
    border-width: 0 1px;
}

/* Prev/Next Side Buttons */
.prev-button,
.next-button {
    display: inline-block;
    padding: 5px;
    min-width: 50px;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    color: white;
    background-color: #444;
}

.prev-button {
    padding-right: 0;
    border-right: 0 none;
    border-bottom-right-radius: 0;
}

.next-button {
    padding-left: 0;
    border-left: 0 none;
    border-bottom-left-radius: 0;
}


/* Vertical Alignment */
.vertical-center-box {
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-center-box > * {
  display: table-cell;
  vertical-align: middle;
}

.vertical-align-top {
  vertical-align: top;
}

/* Horizontal Alignment */
.horizontal-center-box {
    width: 100%;
    text-align: center;
}

.horizontal-center-box > * {
    display: inline-block;
    text-align: initial;
}

/* Responsive Fill */
.responsive-fill-box {
    display: block;
    position: relative;
    height: 100%;
}

.responsive-fill-box > img:first-child {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
}


/* Miscellaneous */
.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.line-height-1,
.line-height-1 *{
    line-height: 1;
}

.font-size-50 {
    font-size: 50%;
}

.font-size-75 {
    font-size: 75%;
}

.font-size-125 {
    font-size: 125%;
}

.font-size-150 {
    font-size: 150%;
}

.font-size-200 {
    font-size: 200%;
}

.font-size-300 {
    font-size: 300%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.text-small-caps {
    font-variant: small-caps;
}

.text-monospace {
    font-family: monospace;
}

.text-times {
    font-family: times;
}

.text-pre-wrap {
    white-space: pre-wrap;
}

.text-no-wrap {
    white-space: nowrap;
}

.table.table-skinny {
    width: auto !important;
}

.template-wrapper {
    border: 2px solid black;
}

.clear-both {
    clear: both;
}

/* Positioning Classes */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.on-left,
.on-right {
    display: block;
    position: absolute;
    top: 0;
}

.on-left {
    left: 0;
    transform: translateX(-100%);
}

.on-right {
    right: 0;
    transform: translateX(100%);
}


/* Word of the Day */
.blurred-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(100px);
    background-repeat: repeat;
}

.wotd-page .luna-pos { font-style: italic; }
.wotd-page .italic { font-style: italic; }
.wotd-page .bold { font-weight: bold; }
